@import 'styles/variaveis';
.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.voltar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  width: 100%;
  button {
    background-color: transparent;
    border: none;
    color: $red;
    align-items: center;
    justify-items: center; 
    display: flex;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
